$buses-red: #dc241f;

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.pull-right {
    float: right;
}

.toolbar {
    padding: 0 1em;
    background: #eee;
}

.toolbar,
.toolbar-tab,
.toolbar-title {
    height: 44px;
    line-height: 44px;
}

.toolbar-tab,
.toolbar-title {
    display: inline-block;
    vertical-align: top;
}

.toolbar-tab {
    color: inherit;
    text-decoration: none;

    &:hover {
        background: #f5f5f5;
    }
}

.toolbar-tab-active {
    border-bottom: 3px solid $buses-red;
}

.toolbar-title {
    padding-right: 1em;
    font-size: inherit;
    margin: 0;
}

.bus-emblem {
    display: inline-block;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 28px;
    border-radius: 26px;
    background: $buses-red;
    color: white;
    font-weight: bold;
    margin: 9px;
}

.stop-title {
    font-size: 24px;

    .bus-emblem {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 36px;
        margin: 0;
    }
}