@font-face {
	font-family: 'Aileron';
	src: url('/fonts/aileron-bold-webfont.eot');
	src: url('/fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/aileron-bold-webfont.woff2') format('woff2'),
	url('/fonts/aileron-bold-webfont.woff') format('woff'),
	url('/fonts/aileron-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('/fonts/aileron-regular-webfont.eot');
	src: url('/fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/aileron-regular-webfont.woff2') format('woff2'),
	url('/fonts/aileron-regular-webfont.woff') format('woff'),
	url('/fonts/aileron-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
